/ctlc.tex
/ctlc.pdf
/ctlc.bbl
/ctlc.ptb
/ltximg/*
/latex/*
_minted-ctlc/*
*.agdai
/ctlc.dvi
/#ctlc.tex#
/ctlc (copy).pdf
/ctlc2.pdf
*MAlonzo*
slides/slides.tex
slides/*.log
slides/*.bbl
agda-hott/html/*
agda-mltt/html/*
\#*\#
.\#*
docs/output.pdf
